@{
    ViewBag.Title = "Garage CCV - Return of the parkinator!";
}

<div class="jumbotron">
    <h2>Garage SIII: Parkinators återkomst</h2>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>1, 2,</h2> <h2 class="gothic">2,5 !</h2>
        <p>
            &nbsp;
        </p>
    </div>

</div>