@{
    ViewBag.Title = "Garage CCV - Return of the parkinator!";
}

<div class="jumbotron">
    <h2>Garage CCV: The Parking</h2>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>1, 2, 3...</h2>
        <p>
            &nbsp;
        </p>
    </div>

</div>