@model GarageII_TheParking.Models.ViewModels.CollectViewModel
@{
    ViewBag.Title = "Collect";
}
<h2>Hämta</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
@Html.HiddenFor(n => n.VehicleId)
@Html.DropDownListFor(n => n.CollectorId, Model.PersonDropDownOptions);
<input type="submit" value="Select" />
}