@model GarageII_TheParking.Models.ViewModels.Receipt

@{
    ViewBag.Title = "Kvitto";
}


<ul>

    <li>@Model.CostPerHour</li>

    <li>@Model.StartTime</li>

    <li>@Model.TimeVehicleCollected</li>

    <li>@Model.TimeWhenPaidParkingTimeExpires</li>

</ul>

Kvitto på inlämnad bil.